body {
    color: #fff;
    background-color: black;
}

h1 {
    font-size: 5.2rem;
}

/* Home button */
#click {
    color: #fff;
    font-size: 2.5rem;
}

/* Game html styling */
.game-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

#question {
    font-size: 3.8rem;
    color: #fff;
    text-align: center;
    height: 20vh;

}

.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background: firebrick;
    font-size: 3rem;
    min-width: 80rem;
    height: 50px;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}
/*Color for correct answers */
.correct {
    background: green;
}

/* Color for incorrect answers */
.incorrect {
    background-color: red;
}

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

/* Progress bar styling */
#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    width: 0%;
    background: green;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
    
}

/* Extra small devices (phones, 500px and down) */
@media screen and (max-width: 500px) {
    .choice-container {
        min-width: 20rem;
        margin-right: 50px;
    }

    #click {
        font-size: 2rem;
    }

    #heading {
        font-size: 5rem;
    }

    #question {
        font-size: 2.5rem;
    }
    
}



