body {
    color: #fff;
    background-color: black;
}

h1 {
    font-size: 5.2rem;
}

.game-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

#question {
    font-size: 3.8rem;
    color: #fff;
    text-align: center;
    height: 20vh;

}

.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background: firebrick;
    font-size: 3rem;
    min-width: 80rem;
    height: 50px;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background-color: red;
}

/* Heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    width: 0%;
    background: green;
}

footer {
    border-style: solid;
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-linkedin {
    font-size: 3.7rem;
    color: firebrick;
}

.fa-github-square {
    font-size: 3.7rem;
    color: #fff;
}

.home-btn {
    width: 15rem;
    height: 3rem;
    padding-bottom: 5.5rem;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    .choice-container {
        height: 50px;
    }

    #question {
        font-size: 2.5rem;
        width: 100vw;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }

    #questions {
        font-size: 3rem;
        height: 10vh;
    }

    #click {
        font-size: 2rem;
    }

    #progressBar {
        width: 10rem;
    }

    .hud-prefix {
        width: 10rem;
    }


}

