@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    background-color: firebrick;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'oswald', sans-serif;
}

#heading {
    border-style: solid;
    background-color: black;
   
}

h1 {
    font-size: 6.4rem;
    color: #fff;
    text-align: center;
    font-stretch: expanded;
    cursor: pointer;
}

h3 {
    font-size: 4.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}
    
.container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    max-width: 0 auto;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

label {
    font-size: 25px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: underline;
    font-weight: bolder;
}

input {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn {
    font-size: 2.6rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: firebrick;
    border-style: solid;
    background-color: black;
    border-radius: 4px;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);

}

.fa-crown, .fa-play {
    font-size: 2.5rem;
    margin-left: 1rem;
}

#quiz-container {
    display: none;
}

#high-score-container {
    display: none;
}

footer {
    border-style: solid;
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-linkedin {
    font-size: 3.7rem;
    color: firebrick;
}

.fa-github-square {
    font-size: 3.7rem;
    color: #fff;
}